<div class="product-card">
    <div class="badge">Hot</div>
    <div class="product-tumb">
        <img src="{{product.img}}" alt="">
    </div>
    <div class="product-details">
        <!-- <span class="product-catagory">{{product.Name}}</span> -->
        <h4><a>{{product.Name}}</a></h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Incidunt porro quaerat dolore quis esse laborum dolor ipsum magni ullam voluptas.</p>
        <div class="product-bottom-details">
            <div class="product-price"><small>{{product.beforeSale | currency}}</small>{{product.price | currency}}</div>
            <div class="product-links">
                <a><i class="fa fa-shopping-cart" (click)="buy(product)"></i></a>
            </div>
        </div>
    </div>
</div>